*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 300px;
    margin: auto;
}
img{
    display: block;
    width: 150px;
    margin: auto;
}
h3, p{
    color: #442f8c;
    text-align: center;
}
li > a{
    display: block;
    padding: 10px 0px;
    border: 1px solid #452f8c2c;
    border-radius: 5px;
    text-decoration: none;
    color: #32216b;
}
li{
    list-style: none;
    text-align: center;
    margin-bottom: 5px;
}
li:nth-child(even) > a{
    background-color: #452f8ce1;
    color: white;
}
ul{
    padding-right: 40px;
    padding-bottom: 40px;
    border: 1px solid #00000025;
    border-radius: 10px;
}
p > a{
    color: rgb(234, 115, 155);
}