label{
    display: inline-block;
    width: 200px;
    margin-bottom: 10px;
}
#pl{
    margin-top: 5px;
    vertical-align: top;
}
form{
    display: inline-block;
    padding: 15px;
    background-color: #c3dddd29;
}